<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<nav class="navbar navbar-expand-lg navbar-light"
     style="background-color:#191970; padding-top: 4%; padding-bottom:8%;">
    <div class="container">
         <a href="/lists" class="navbar-brand">
            <figure>
                <img src="/img/logo.png" class="img-fluid" width="100" height="100">
            </figure>
        </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link js-scroll" style="font-weight: bold; font-size: 90%; color: white;">dslist</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</html>